%h1 Listing tags
- tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| 
  = link_to "#{tag.name}(#{tag.count})", tagged_questions_path(:name => tag.name), :class => css_class 

= render "shared/footer"

