%p
  = link_to "Sign out", destroy_user_session_path, :method => :delete
  = link_to 'New Question', new_question_path
  = link_to 'Latest Questions', questions_path
  = link_to 'Tags list', tags_list_path
  \.
