.left_nav
  .user_info
    %dl
      %dt
        =image_tag "avatar.jpg"
      %dd
        %span 牛大力
    .user_atten
      %ul
        %li
          %a
            %b 12
            %span 朋友
        %li
          %a
            %b 26
            %span 提问
        %li.e_none
          %a
            %b 17
            %span 回答
